/* Opcoes gerais */
body {
	color: black;
	font-family: arial, sans-serif;
}

/* Separador de linha */
hr {
	 border-top: 1px dashed navy;
	 border-bottom: 0px;
}

/* Separador de linha do final do jogo */
hr#final {
	 border-top: 1px solid navy;
	 border-bottom: 0px;
}

/* Novo design do botao */
button {
	-webkit-transition-duration: 0.2s; /* Safari */
	transition-duration: 0.2s;

	background-color: #0061ff; /* Green */
	border: none;
	color: white;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

/* Opcoes a mais ao passar o mouse sobre o botao */
button:hover {
	background-color: #5998ff; /* Green */
	color: white;
	cursor: all-scroll;
}

/* Opcoes do rodape */
#footer {
	width: 100%;
	float: left;
	position: center;
	text-align: center;
}

/* Opcoes do cabecalho */
#header {
	padding: 1px;
	background-color: #c6dcff;
}

/* Animacao de resposta correta ou incorreta */
@keyframes correct {
    0%{
        background-color: #93ef8f
    }

    100%{
        background-color: #dae3f2
    }
}

@keyframes wrong {
    0%{
        background-color: #ef7b69
    }

    100%{
        background-color: #dae3f2
    }
}

/* Opcoes das perguntas+pontuacao */
#container {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;

	/*float: left;*/
	width: 70%;
	background-color: #dae3f2;
	border-radius: 5px;
}

/* Mais opcoes da animacao */
#container.correct {
    animation: correct 1s 1
}

#container.wrong {
    animation: wrong 1s 1
}

/* Opcoes especificas da pergunta */
#pergunta {
    text-align: justify;
	padding: 1px;
}

#pergunta:hover {
	background-color: #adccff;
}

/* Opcoes da pontuacao */
#pontuacao {
	font-weight: bold;
}